.inputWrapper {
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
  }
  
  .emailInput {
    width: 50%;
    border-radius: 14px;
    background-color: var(--gray-4, #ecebeb);
    font-size: 20px;
    padding: 13px 23px;
    border: none;
    outline: none;
  }
  
  .emailInput::placeholder {
    color: var(--gray-2, #b2b2b2);
  }
  
  @media (max-width: 991px) {
    .emailInput {
      padding: 13px 20px;
    }
  }