.dashboardWithMenu {
    background-color: var(--bg-red, #fff9f5);
    overflow: hidden;
    padding: 0;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
  }
  
  .content {
    display: flex;
    gap: 2px;
  }
  
  @media (max-width: 991px) {
    .dashboardWithMenu {
      padding: 0 30px;
    }
  
    .content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }