/* General container for login page */
.login-container {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Box styling for login content with a border */
  .login-box {
    margin: 10px auto;
    padding: 1px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    width: 98%;
    background-color: white;
  }
  .login-box .login-cantainer {
    width: 30%;
    margin-left: 35%;
    margin-top: 4.6%;
    margin-bottom: 70px;
  }
  
  /* Title and subtitle styles */
  .login-title {
    color: #FF7A59;
    font-size: 2rem;
    margin-top: 10px;
  }
  
  .login-subtitle {
    font-size: 1.2rem;
    margin-top: -15px;
  }
  
  .login-heading {
    margin: 20px 0;
  }
  
  /* Button styling */
  .login-btn {
    width: 30%;
    margin: 0 auto;
    text-transform: none;
  }
  
  .google-btn {
    background-color: #FF7A59 !important;
    color: white !important;
    width: -webkit-fill-available;
  }
  
  .apple-btn {
    background-color: black !important;
    color: white !important;
    width: -webkit-fill-available;
  }
  
  /* Input field styling */
  .login-input {
    width: -webkit-fill-available;
  }
  
  /* Divider styling */
  .divider {
    margin: 10px auto;
    border-bottom: 2px solid #ccc;
    width: 30%;
    width: -webkit-fill-available;
  } 
  
  /* Continue button styling */
  .continue-btn {
    background-color: #FF7A59 !important;
    color: white !important;
    
  }
  /* General container for Dashboard page */
  .text-center {
    text-align: center;
    margin-top: 150px; 
    font-size: 15px; 
    font-weight: bold; 
    color: #333; 
  }
